* {
    --header-color: white;
    --body-color: #EDEDED;
    --footer-color: white;
    --button-color: #78C1D1;
    height: 100%;
    padding: 0;
    margin: 0;
}

.container {
    display: grid;
    grid-template-rows: 100px 1fr 50px;
}

.header {
    grid-row: 1/2;
    background-color: var(--header-color);
   
    display: grid;
    grid-template-columns: 9fr 1fr;
}

.header-title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding-top: 30px;
    grid-column: 1/2;
    padding-left: 150px;
    color: var(--button-color);
    box-sizing: border-box;
    
}
.addnewbook {
    grid-column: 2/3;
    margin: 20px;
    height: 50px;
    border-radius: 10px;
    background-color: var(--button-color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    border: none;
    box-shadow: 2px 2px 2px 2px #ededed;


}
.delete {
    background-color: #538691;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    border: none;
}
.delete:hover {
    background-color: #B1F0FE;
}
.delete:active {
    background-color: #538691;
}
.form {
    height: 500px;
    background-color: pink;
    margin-left: 200px;
    width: 500px;
    
    
}
.form h4 {
    height: 100px;
    padding: 25px;
    font-size: 25px;
}
.form > label {
    box-sizing: border-box;
    padding: 25px;
    text-align: right;
    width: 150px;
    padding-bottom: 5px;
    padding-right: 0;   
    
}
.form input {
    height: 30px;
    width: 200px;
    

}

#checkread {
    height: 20px;  
}
.body {
    grid-row: 2/3;
    background-color: var(--body-color);
    display: grid;
    grid-template-columns: 1fr 4fr;
    

}
.sidebar {
    background-color: var(--button-color);
    display: grid;
    grid-template-rows: 100px repeat(3, 100px) 1fr 1fr;
    
    font-family: "Roboto";
    color: white;
    gap: 10px;
}

.sidebar > h3 {
   box-sizing: border-box;
   padding-top: 50px;
   padding-left: 50px;
}
.sidebar > .userinput {
    padding-left: 20px;
    padding-top: 30px;

}
.userinput {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.userinput > input {
    box-sizing: border-box;
    padding-right: 0;
    height: 30px;
    border: none;
    border-radius: 5px;
    width: 120px;
    

}
.lastuserinput {
    box-sizing: border-box;
}

.last {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding-top: 0;
}

.lastlabel {
    grid-area: 1/1/2/3;
}

#addnewbook {
    color: black;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
    margin-top: 20px;
}

#addnewbook:hover {
    background-color: #9D9E9E;
}

#addnewbook:active {
    background-color: white;
}
.deck {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    padding-left: 20px;
    padding-top: 20px;
    overflow: scroll;
}
.card {
    
    background-color: var(--button-color);
    font-family: "Roboto";
    color: white;
    box-shadow: 2px 2px 2px 2px white;
    border-radius: 20px;
    display: inline-grid;
    text-align: left;
    grid-template-columns: 1fr;
    
    grid-template-rows: 4fr 1fr 1fr 1fr 1fr;
}

.title {
    box-sizing: border-box;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 30px;
    padding-left: 20px;
    display: flex;
    align-items: end;
}
.author {
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
}

.pages {
    box-sizing: border-box;
    text-align: center;

}
.read {
    box-sizing: border-box;
    text-align: center;
}



.footer {
    grid-row: 3/4;
    background-color: var(--footer-color);
    
}